* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html { visibility: hidden; }

html, body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif;
  background-color: #FFF;
  color: #807F7F;
}

.top-Navigation {
  transition: 0.3s all ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
  text-transform: uppercase;
  display: flex;
  z-index: 999;
}

.logo {
  border-radius: 50px;
  transition: 0.5s all ease-in-out;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(20deg);
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: right;
}

li {
  padding: 20px;
  margin: 40px;
  cursor: pointer;
}

li:hover {
  border-bottom: 2px solid;
  padding-bottom: 18px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 22px;
}

p.about {
  text-align: left;
  margin-bottom: 10px;
}

hr {
   width: 50px;
   margin: auto;
}

.multi-button {
  font-style: bold;
  text-transform: uppercase;
  color: #FFF;
  margin: 10px;
  padding: 20px;
  width: 200px;
  background-color: transparent;
  border-radius: 50px;
  transition: 0.5s all ease-in-out;
}

.multi-button:hover {
  cursor: pointer;
  color: #660066;
  background-color: #FFF;
}

.box {
  min-height: 100vh;
  background-image: url("../img/intro.jpg");
  background-color: #660066;
  color: #FFF;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center center;
}

.intro {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-name {
  transition: 0.5s all ease-in-out;
}

.intro-description {
  transition: 0.5s all ease-in-out;
}

a {
  transition: 0.5s all ease-in-out;
}

/* Portfolio */

.portfolio, .about-me, .contact-me {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 15%;
  min-height: 100vh;
  background-color: #F8F8F8;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  color: #3B3838;
}

.portfolio-introduction {
  padding: 30px;
  padding-bottom: 50px;
}


.project-title {
  padding-bottom: 18px;
}

.project-description {
  color: #FFFFFF;
  position: relative;
  margin: auto;
  top: 100px;
  z-index: 1;
  opacity: 1;
  padding-top: 22px;
  -moz-transition: all 0.5s ease-in-out;  /* FF4+ */
  -o-transition: all 0.5s ease-in-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.5s ease-in-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.5s ease-in-out;  /* IE10? */
  transition: all 0.5s ease-in-out; 
}

.project-button {
  z-index: 999;
  position: relative;
  bottom: -150px;
  opacity: 1;
  cursor: pointer;
  display: inline-block;
  color: #FFFFFF;
  margin: 5px;
  margin-top: 5%;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border: 2px #FFFFFF solid;
  border-radius: 5px;
  background-color: transparent;
  -moz-transition: all 0.5s ease-in-out;  /* FF4+ */
  -o-transition: all 0.5s ease-in-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.5s ease-in-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.5s ease-in-out;  /* IE10? */
  transition: all 0.5s ease-in-out; 
}

.project-button:hover {
  color: #660066
  background-color: #F8F8F8;
}

.card {
  position: relative;
  width: 585px;
  height: 438px;
  margin: 20px auto;
  perspective: 585px;
  border-radius: 5px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #03446A;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front {
  border: 1px solid #660066;
}

.back {
  background: #660066;
  color: white;
  transform: rotateY( 180deg );
}

.project-img {
  border-radius: 5px;
  padding: 25px;
  max-width: 585px;
  width: 100%;
  height: 100%;
  background-size: contain;
  z-index: 99;
  margin: auto;
  
  
}

.project-img.meraki {
  background: url('../img/projects/meraki-retina.gif');
  background-size: contain;
}

.project-img.redempt {
  background: url('../img/projects/redempt-retina.gif');
  background-size: contain;
}

.project-img.converter {
  background: url('../img/projects/numeric-converter-retina.png');
  background-size: contain;
}

.project-img.tic-tac {
  background: url('../img/projects/tic-tac-toe-game-retina.png');
  background-size: contain;
}

.project-img.guse {
  background: url('../img/projects/github-search-engine-retina.png');
  background-size: contain;
}

.project-img.calculator {
  background: url('../img/projects/react-calc-retina.png');
  background-size: contain;
}



.about-me h1 {
  color: #FFF;
}

.about-me {
  color: #fff;
  background-color: #a70aa7;
  background-image: url("../img/grid-bg2.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
}



.backdrop {
  border-radius: 50px;
  padding: 40px 20px 40px 20px;
  background: rgba(0, 0, 0, 0.6);
}

.mobile-menu {
  display: none;
}

.contact-me {
  min-height: 100vh;
  background-color: #D5B5F5;
  box-shadow: 1px 1px 10px #919090;
}

i {
  color: #FFF;
}

i:hover {
  transform: scale(1.2);
}

.fa-arrow-left:before, .fa-arrow-right:before {
  color: #807F7F;
}

.soc-med {
  margin: 15px;
}

.social-media {
  margin-top: 30px;
}

.copyright {
  padding: 20px;
  background-color: #252525;
}

.footer {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.slick-dots li button { 
  font-size: 0; 
} 

.slick-arrow {
  position: absolute;
  top: 250px;
  z-index: 999; 
}

.slick-arrow:hover {
  cursor: pointer;
}


@media screen and (max-width: 1260px) {
  .slick-next {
    right: 0px;
  }

  .slick-prev {
    left: 0px;
  }
}

@media screen and (max-width: 1024px) {

  .project-img.meraki {
    background: url('../img/projects/meraki-desktop.gif');
    background-size: contain;
  }

  .project-img.redempt {
    background: url('../img/projects/redempt-desktop.gif');
    background-size: contain;
  }
  
  .project-img.converter {
    background: url('../img/projects/numeric-converter-desktop.png');
    background-size: contain;
  }
  
  .project-img.tic-tac {
    background: url('../img/projects/tic-tac-toe-game-desktop.png');
    background-size: contain;
  }
  
  .project-img.guse {
    background: url('../img/projects/github-search-engine-desktop.png');
    background-size: contain;
  }
  
  .project-img.calculator {
    background: url('../img/projects/react-calc-desktop.png');
    background-size: contain;
  }
}

@media screen and (max-width: 960px) {
  /* .card {
    width: 531px;
    height: 398px;
  } */

  
}

@media screen and (max-width: 769px) {

  /*.card {
    width: 428px;
    height: 320px;
  }*/

  .card {
    width: 531px;
    height: 398px;
  }

  .desktop-menu {
    display: none;
  }

  .menu-toggle {
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    box-sizing: border-box;;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    z-index: 999;
  }

  .hamburger-icon {
    width: 35px;
    height: 5px;
    background-color: black;
  }

  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    transition: transform 0.3s ease-in;
  }

  .hamburger-icon::before {
  transform: translateY(-15px);
}

.hamburger-icon::after {
  transform: translateY(10px);
}

.top-Navigation {
  flex-direction: column;
  margin: 0;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}

.mobile-menu {
  transition: 0.3s all ease-in-out;
  color: #660066;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 150px;
  background-color: #FFF;

}

.mobile-menu li {
  display: block;
  margin: 0;
  padding: 10px;
  padding-left: 20px;
}

.mobile-menu li:hover {
    border-bottom: none;
    padding-bottom: none;
}

.mobile-menu-hr {
  width: 100%;
  border: 1px solid #EBEBEB;
}

.about-me {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 18px;
}



}

@media screen and (max-width: 760px) {

  .project-img.meraki {
    background: url('../img/projects/meraki-tablet.gif');
    background-size: contain;
  }

  .project-img.redempt {
    background: url('../img/projects/redempt-tablet.gif');
    background-size: contain;
  }
  
  .project-img.converter {
    background: url('../img/projects/numeric-converter-tablet.png');
    background-size: contain;
  }
  
  .project-img.tic-tac {
    background: url('../img/projects/tic-tac-toe-game-tablet.png');
    background-size: contain;
  }
  
  .project-img.guse {
    background: url('../img/projects/github-search-engine-tablet.png');
    background-size: contain;
  }
  
  .project-img.calculator {
    background: url('../img/projects/react-calc-tablet.png');
    background-size: contain;
  }
}

@media screen and (max-width: 616px) {

  h2 {
    font-size: 22px;
  }

  .card {
    width: 413px;
    height: 309px;
  }

  /*.card {
    width: 336px;
    height: 248px;
  }*/

  .project-description {
    top: 50px;
  }

  .project-button {
    bottom: -75px;
  }

}

@media screen and (max-width: 480px) {

  .card {
    width: 309px;
    height: 228px;
  }

  /*.card {
    width: 240px;
    height: 174px;
  }*/

  .slick-arrow {
    top: 150px;
  }

  .project-description {
    top: 0px;
    font-size: 15px;
    max-width: 200px;
  }

  .project-button {
    bottom: -25px;
    padding: 5px;
    margin-top: 5px;
  }

}

@media screen and (max-width: 375px) {
  .card {
    width: 206px;
    height: 156px;
  }

  .project-description {
    max-width: 150px;
  }
  

}

@media screen and (max-width: 350px) {

  .project-img.meraki {
    background: url('../img/projects/meraki-mobilehd.gif');
    background-size: contain;
  }

  .project-img.redempt {
    background: url('../img/projects/redempt-mobilehd.gif');
    background-size: contain;
  }
  
  .project-img.converter {
    background: url('../img/projects/numeric-converter-mobilehd.png');
    background-size: contain;
  }
  
  .project-img.tic-tac {
    background: url('../img/projects/tic-tac-toe-game-mobilehd.png');
    background-size: contain;
  }
  
  .project-img.guse {
    background: url('../img/projects/github-search-engine-mobilehd.png');
    background-size: contain;
  }
  
  .project-img.calculator {
    background: url('../img/projects/react-calc-mobilehd.png');
    background-size: contain;
  }
}

@media only screen and (max-width: 343px) {
  .card {
    width: 200px;
    height: 148px;
  }
}

@media screen and (max-width: 300px) {

  .project-img.meraki {
    background: url('../img/projects/meraki-mobileld.gif');
    background-size: contain;
  }

  .project-img.redempt {
    background: url('../img/projects/redempt-mobileld.gif');
    background-size: contain;
  }
}
